# .github/workflows/deploy.yml
on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      var:
        required: true
        type: string
    secrets:
      TOKEN:
        required: true
      ENV_JSON:
        required: false

jobs:
  deploy_job:
    runs-on: ubuntu-latest
    steps:
      - name: Show input and secret
        run: |
          ENV_VARS_ARG=""
          ENV_VARS='${{ secrets.ENV_JSON }}'
          echo "Environment: ${{ inputs.env }}"
          echo "TOKEN: ${{ secrets.TOKEN }}"
          echo "ENV_VARS: $ENV_VARS"
          echo "VAR: $var"
