# .github/workflows/deploy.yml
on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      var:
        required: true
        type: string
      ENVIRONMENT:
        required: true
        type: string
    secrets:
      TOKEN:
        required: true
      ENV_JSON:
        required: false

jobs:
  deploy_job:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.ENVIRONMENT}}
    steps:
      - name: Show input and secret
        run: |
          ENV_VARS_ARG=""
          ENV_VARS='${{ secrets.ENV_JSON }}'
          ENV_VARS2=$(echo "$ENV_VARS" | jq .)
          VAR_JSON='${{ inputs.var }}'
          VAR_JSON2=$(echo "$VAR_JSON" | jq .)
          ADD_JSON=$(jq -s 'add' <(echo $ENV_VARS) <(echo $VAR_JSON))
          echo "Environment: ${{ inputs.env }}"
          echo "TOKEN: ${{ secrets.TOKEN }}"
          echo "ENV_VARS: $ENV_VARS"
          echo "ENV_VARS2: $ENV_VARS2"
          echo "VAR_JSON: $VAR_JSON"
          echo "VAR_JSON2: $VAR_JSON2"
          echo "ADD_JSON: $ADD_JSON"
      - name: Show input and secret
        run: |
          ENVIRONMENT='${{ inputs.ENVIRONMENT }}'
          echo "ENV_VARS: $ENVIRONMENT"
