# .github/workflows/test.yml
name: Test Workflow

on:
  workflow_dispatch:  # 手動実行可能

env:
  DIR: '${{ github.workspace }}'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: test1
        shell: pwsh
        run: |
          echo "ENV_TEST1: $env:ENV_TEST1"          
        env:
          ENV_TEST1: 'env_test1'
          
