# .github/workflows/test2-deploy.yml
name: Test2 Deploy Workflow

on:
  workflow_dispatch:  # 手動実行可能

jobs:
  get_secrets:
    runs-on: ubuntu-latest
    outputs:
      message: ${{ steps.example.outputs.message }}
    steps:
      - id: example
        run: |
          echo "secret: ${{ secrets.DEPLOY_TOKEN_TEST }}"
          TESTSECRET=$(echo "${{ secrets.DEPLOY_TOKEN_TEST }}" | jq .)
          echo "TESTSECRET: $TESTSECRET"
          echo "message=${{ secrets.DEPLOY_TOKEN_TEST }}" >> $GITHUB_OUTPUT
  test_deploy:
    needs: get_secrets
    uses: ./.github/workflows/deploy.yml
    with:
      env: ${{ needs.get_secrets.outputs.message }}
      var: ${{ vars.VAR_JSON }}
    secrets:
      TOKEN: ${{ secrets.DEPLOY_TOKEN_TEST }}
      ENV_JSON: ${{ secrets.ENV_JSON }}
