# .github/workflows/test.yml a
name: Test Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:  # 手動実行可能
    inputs:
      COMMIT_ID:
        required: false
        type: choice
        default: 'publish-artifacts-in-last-commit'
        options:
          - publish-artifacts-in-last-commit
          - publish-all-artifacts-in-repo

env:
  DIR: '${{ github.workspace }}'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
          
      - name: test1
        shell: pwsh
        run: |
          echo "ENV_TEST1: $env:ENV_TEST1"          
          echo "ENV_TEST2: $env:ENV_TEST2"          
        env:
          ENV_TEST1: ${{ inputs.COMMIT_ID || 'publish-artifacts-in-last-commit' }}
          ENV_TEST2: ${{ inputs.COMMIT_ID == 'publish-artifacts-in-last-commit' && github.sha || '' }}
          
