# .github/workflows/test.yml a
name: Test Workflow Namge Change
run-name:  Test Workflow Namge Change_{{ inputs.COMMIT_ID }}

on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:  # 手動実行可能
    inputs:
      COMMIT_ID:
        required: false
        type: choice
        default: 'publish-artifacts-in-last-commit'
        options:
          - publish-artifacts-in-last-commit
          - publish-all-artifacts-in-repo

env:
  DIR: '${{ github.workspace }}'
  TEST_ENV: 'test env desu.'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: test1
        shell: pwsh
        run: |
          echo "ENV_TEST1: $env:ENV_TEST1"          
          echo "ENV_TEST2: $env:ENV_TEST2"          
          echo "github.sha: ${{ github.sha }}"          
        env:
          ENV_TEST1: ${{ inputs.COMMIT_ID || 'publish-artifacts-in-last-commit' }}
          ENV_TEST2: ${{ inputs.COMMIT_ID == 'publish-artifacts-in-last-commit' && github.sha || '' }}
          
      - name: test2
        shell: bash
        run: |
          if echo "test if bash!!"; then
            echo "success!!"
          else
            echo "failed!!!!"
            exit 0
          fi

      - name: test3
        shell: bash
        run: |
          echo "ENV DIR: ${{ env.DIR }}"
          echo "ENV TEST_ENV: ${{ env.TEST_ENV }}"
  test2:
    runs-on: ubuntu-latest
    outputs:
      env-vars: ${{ steps.set_env.output.env-vars }}
    steps:
      - name: set_env
        run: |
          echo "env-vars=$(jq -c -n '[
            {"name": "DIR", "value": "${{ env.DIR }}"},
            {"name": "TEST_ENV", "value": "${{ env.TEST_ENV }}"}
          ]')" >> $GITHUB_OUTPUT

  test3:
    needs: test2
    runs-on: ubuntu-latest
    steps:
      - name: print
        run: |
          echo "needs env: ${{ needs.prepare.outputs.env-vars }}"
